:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --acent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  background-color: var(--white-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.btn-general {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-general:hover,
.btn-general:focus {
  background-color: var(--pressed-state);
  border: none;
}

/* HEADER */

/* .header {
  border-bottom: 1px solid var(--acent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
} */
/* 
.logo-header,
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
} */

/* .logo-header {
  margin-right: 76px;
  padding: 24px 0;
} */

/* .header-studio {
  color: var(--dark);
} */

/* .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.nav-link.active {
  color: var(--pressed-state);
  position: relative;
}

.active::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  transform: translateY(50%);
  display: block;
  content: "";
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state);
}

.nav-list-item {
  font-weight: 500;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.nav-list {
  display: flex;
}

.nav-link {
  color: var(--dark);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state);
}

.contact-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:hover,
.contact-item:focus {
  color: var(--pressed-state);
}

.contact-list {
  display: flex;
}

.contact-list-item:not(:last-child) {
  margin-right: 40px;
}

.contact-list-item {
  padding: 24px 0;
}

.contacts {
  margin-left: auto;
} */

/* HERO */
/* 
.hero {
  max-width: 1440px;
  background-color: var(--dark);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
  border: 1px solid #000000;
} */

/* .hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-background);
  text-align: center;
  margin: 0 auto 48px auto;
} */

/* .hero-button {
  display: block;
  margin: auto;
  font-weight: 500;
  line-height: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: var(--primary-brand);
  cursor: pointer;
  min-width: 169px;
  min-height: 56px;
  border: none;
  border-radius: 4px;
} */

.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  background-color: var(--white-background);
  margin-bottom: 8px;
}

/* BENEFITS */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefit-list {
  display: flex;
  justify-content: center;
}

.benefit-item {
  flex-basis: calc((100% - 72px) / 4);
}

.benefit-item:not(:nth-child(4n)) {
  margin-right: 24px;
}

.benefit-subtitle {
  text-align: start;
}

.benefit-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid var(--subtle-text);
  width: 100%;
  height: 112px;

  background-color: var(--light);
}
/* OUR TEAM */

.team {
  background-color: var(--light);
}
.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list-item {
  display: flex;
  flex-basis: calc((100% - 72px) / 4);
  flex-direction: column;
  align-items: center;
  min-width: 264px;

  background-color: var(--white-background);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member {
  padding: 32px 0;
  text-align: center;
}

.team-text {
  margin-bottom: 8px;
}

.team-icon-list,
.mobile-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  line-height: 0;
}

.socialmedia-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-brand);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--light);
}

.socialmedia-list-item {
  width: 40px;
  height: 40px;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--light);
}

.socialmedia-link:hover,
.socialmedia-link:focus {
  background-color: var(--pressed-state);
  cursor: pointer;
}

.footer-container .team-icon-list {
  gap: 16px;
}

.socialmedia-icon {
  color: var(--primary-brand);
}

/* PORTFOLIO */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-list-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3 - 24px);
  min-width: 360px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.portfolio-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}

.border {
  padding: 32px 16px;
  border: 1px solid var(--acent);
  border-top: none;
  flex-grow: 1;
}

.image-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  padding: 40px 32px;
  color: var(--light);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0%);
}

.portfolio-list-item:hover {
  cursor: pointer;
}

/* FOOTER */
.footer {
  background-color: var(--dark);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-studio,
.footer-text {
  color: var(--light);
}

.footer-text {
  width: 264px;
}

.logo-footer {
  display: inline-block;
}

.footer-description {
  margin-right: 120px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.socialmedia {
  margin-right: 80px;
}

.socialmedia-text {
  font-weight: 500;
  color: var(--white-background);
  margin-bottom: 16px;
}

.socialmedia-link.link-footer:hover,
.socialmedia-link.link-footer:focus {
  background-color: var(--success);
}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-label {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-background);
}

.subscribe-input::placeholder {
  color: var(--white-background);
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  cursor: pointer;
  background-color: var(--primary-brand);
  border: none;
  border-radius: 4px;
}

.subscribe-icon {
  margin-left: 16px;
  fill: var(--white-background);
}

/* Modal window */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--acent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--pressed-state);
  border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--white-background);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 16px;
}

.form-field {
  margin-bottom: 8px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
  display: block;
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--primary-brand);
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: var(--primary-brand);
}

.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border-color: var(--primary-brand);
}

.comment-field {
  margin-bottom: 16px;
}

.checkbox-wrapper {
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--label-color);
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked + label .custom-checkbox {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}

.policy-link {
  color: var(--primary-brand);
  text-decoration: underline;
}

.privacy-label {
  color: var(--subtle-text);
}

.submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: var(--primary-brand);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--pressed-state);
}
