:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --acent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
  --burger-btn-color: #2f2f37;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  background-color: var(--white-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.btn-general {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-general:hover,
.btn-general:focus {
  background-color: var(--pressed-state);
  border: none;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding: 96px 0;
}

/* HEADER */

.header {
  border-bottom: 1px solid var(--acent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-header,
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.header-studio {
  color: var(--dark);
}

.nav-list,
.contacts {
  display: none;
}

.burger-btn {
  line-height: 0;
  border: none;
  padding: 0;

  background-color: transparent;
  color: var(--burger-btn-color);
}

.burger-icon {
  stroke: inherit;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Tablet - breakpoint 768px */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .nav-list {
    display: flex;
  }

  .contacts {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .contact-list {
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: center;
  }

  .contact-list-item {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .nav-list-item {
    font-weight: 500;
    padding: 24px 0;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    color: var(--dark);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--pressed-state);
  }

  .burger-btn {
    display: none;
  }

  .header-container {
    display: flex;
  }

  .navigation {
    gap: 120px;
  }

  .nav-link.active {
    color: var(--pressed-state);
    position: relative;
  }

  .contact-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-item:focus {
    color: var(--pressed-state);
  }

  .active::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    transform: translateY(50%);
    display: block;
    content: "";
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state);
  }
}

/* Desktop - breakpoint 1158px */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .section {
    padding: 120px 0;
  }

  .navigation {
    gap: 76px;
  }

  .contact-list {
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
  }

  .contact-list-item {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* 




  .nav-link.active {
    color: var(--pressed-state);
    position: relative;
  }

  .active::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    transform: translateY(50%);
    display: block;
    content: "";
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state);
  }

  .nav-list-item {
    font-weight: 500;
  }

  .nav-list-item:not(:last-child) {
    margin-right: 40px;
  }

  .nav-list {
    display: flex;
  }

  .nav-link {
    color: var(--dark);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--pressed-state);
  }

  .contact-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-item:hover,
  .contact-item:focus {
    color: var(--pressed-state);
  }



 

 

  .contacts {
    margin-left: auto;
  } */
}
